{% extends 'base.html' %}

{% load static %}

{% block title_block %}Home {% endblock %}

{% block body_block %}
	
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>Bargain</span>-Radar</h1>
									<h2>TOP OFFER!</h2>
									<button type="button" class="btn btn-default get">95% off! Grab it for yourself!</button>
								</div>
								<div class="col-sm-6">
									<a href="{% url 'offer'  offer1.id %}">
									<img style="height: 300px" src="{{ offer1.picture.url }}" class="girl img-responsive" alt="" /></a>
                                    <h3>{{ offer1.name}}</h3>
                                    {{ offer1.description|linebreaks }}
									<p><b>Price: {{ offer1.price}}</b></p>
									<p><a href="{% url 'offer'  offer1.id %}">{{ offer1.name }}</a></p>
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>Bargain</span>-Radar</h1>
									<h2>TOP OFFER!</h2>
									<p>95% off! Grab it for yourself! </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<a href="{% url 'offer'  offer2.id %}">
                                    <img style="height: 300px" src="{{ offer2.picture.url }}" class="girl img-responsive" alt="" /></a>
									<h3>{{ offer2.name}}</h3>
                                    {{ offer2.description|linebreaks }}
									<p><b>Price: {{ offer2.price}}</b></p>
                                    <p><a href="{% url 'offer'  offer2.id %}">{{ offer2.name }}</a></p>
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>Bargain</span>-Radar</h1>
									<h2>TOP OFFER!</h2>
									<p>95% off! Grab it for yourself! </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									 <a href="{% url 'offer'  offer3.id %}">
									 <img style="height: 300px" src="{{ offer3.picture.url }}" class="girl img-responsive" alt="" /></a>
									<h3>{{ offer3.name}}</h3>
                                    {{ offer3.description|linebreaks }}
									<p><b>Price: {{ offer3.price}}</b> </p>
                                    <p><a href="{% url 'offer'  offer3.id %}">{{ offer3.name }}</a></p>
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% for category in categories %}

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordian" href='#{{category.name}}'>
												<span class="badge pull-right"><i class="fa fa-plus"></i></span>
												{{category.name}}
											</a>
										</h4>
									</div>
									<div id={{category.name}} class="panel-collapse collapse">
										<div class="panel-body">
											<ul>
												{% for offer in offers %}
												  {% if offer.category.name == category.name %}
												    <li><a href="#"><a href="{% url 'offer'  offer.id %}">{{ offer.name }}</a> </a></li>
												   {% endif %}
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							{% endfor %}
							
						</div><!--/category-products--><!--/category-products-->
					
						<div class="brands_products"><!--brands_products-->
							<!-- <h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="#"> <span class="pull-right">(50)</span>Acne acne</a></li>
								</ul>
							</div> -->
						</div><!--/brands_products-->
						
						<div class="price-range"><!--price-range-->
							<h2>Price Range</h2>
							<div class="well text-center">
								 <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2" ><br />
								 <b class="pull-left">£ 0</b> <b class="pull-right">£ 600</b>
							</div>
						</div><!--/price-range-->
						
						<div class="shipping text-center"><!--shipping-->
							<img src="{% static 'Eshopper/images/home/shipping.jpg' %}" alt="" />
						</div><!--/shipping-->
					
					</div>
				</div> <!-- categories and price limits -->
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Feature Offers</h2>
                        {%for offer in top_offers%}
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img style="height: 250px; width: auto" src="{{ offer.picture.url }}" alt="Offer image" />
                                                <h2>£{{offer.price}}</h2>
                                                <p><a href="{% url 'offer'  offer.id %}">{{ offer.name }}</a> </p>
                                                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                            <div class="product-overlay">
                                                <div class="overlay-content">
                                                    <h2>£{{offer.price}}</h2>
                                                    <p>{{ offer.name }}</p>
                                                    <a href="{% url 'offer'  offer.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>
                                            </div>
                                    </div>
                                    <!-- <div class="choose">
                                        <ul class="nav nav-pills nav-justified">
                                            <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                            <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                        {% endfor %}
						
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>

{% endblock %}