{% extends 'base.html' %}

{% load staticfiles %}

{% block title_block %}Product Details {% endblock %}

{% block body_block %}
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-products-->
							{% for category in categories %}

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordian" href='#{{category.name}}'>
												<span class="badge pull-right"><i class="fa fa-plus"></i></span>
												{{category.name}}
											</a>
										</h4>
									</div>
									<div id={{category.name}} class="panel-collapse collapse">
										<div class="panel-body">
											<ul>
												{% for offer in offers %}
												  {% if offer.category.name == category.name %}
												    <li><a href="{% url 'offer'  offer.id %}">{{ offer.name }}</a></li>
												   {% endif %}
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							{% endfor %}
						</div><!--/category-products-->
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img style='height: auto' src="{{ offer.picture.url }}" alt="" />
								<h3>ZOOM</h3>
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="{% static 'Eshopper/images/product-details/new.jpg' %}" class="newarrival" alt="" />
								<h2>{{offer.name}}</h2>
								<span>
									<span>£{{offer.price}}</span>
									<!--<label>Quantity:</label>-->
                                    {% if user.is_authenticated %}
									    <span><a href="{% url 'add_basket' offer.id %}">add to basket</a></span>
									{% endif %}
									<!--<input type="text" value="3" />
									    <button type="button" class="btn btn-default cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>-->
								</span>
								<p><b>Description:<br />{{offer.description}}</b></p>
								<a href=""><img src="{% static 'Eshopper/images/product-details/share.png' %}" class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}